body{
    background: #cde7d1;
}


body, p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
    color: #59945e;
    font-size: 35px;
}
.container{padding: 15px;}
.immagine{
    width: 80%;
    padding-left: 2px;
    padding-right: 20px;
}
.img-res{width: 80%;height: auto;}

footer{background: #4b7f55;padding: 15px;}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #59945e;
    padding: 0 50px;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto; /* spinge il menu tutto a destra */
  }

  .menu ul li {
    position: relative;
  }
 
  
  .menu a {
    display: block;
    padding: 40px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px; /* â† aumenta la grandezza del testo */
  }
  
 
  .menu ul ul {
    display: none;
    position: absolute;
    background-color: #68a36c;
    top :100%;
    left: 0;
    z-index: 1000;
    
  }
  .menu ul ul li{
    height: auto;
    line-height: normal;
  }

  .menu ul ul li a{
    color: white;
    font-size: 18px;
    height: auto;
    line-height: 0;
    display: block;
    white-space: nowrap;
  }


  nav ul li:hover {
    background-color: #458045;
    
  }

  nav ul li:hover > ul {
    display: flex;
    flex-direction: column;
  }


